<h1>Flexible Payment</h1>

<p>
  A <%= @years %> year loan of

<%= @principal %>,

  with an annual interest rate of

  <%= @apr

  print("12")
  %>,

  requires a monthly payment of

  <%= @pmt %>.
</p>
