<h1>Payment Calculation</h1>

<form action="http://localhost:3000/payment/results">
  <div>
    <label for="bp">
      APR
    </label>
    <input id="bp" type = "text" name="bp" placeholder="E.g. 5.42"> <br/>
    <label for="noy">
      Number of years
    </label>
    <input id="noy" type = "text" name="noy" placeholder="How many years to repay?"> <br/>
    <label for="pv">
      Principal
    </label>
    <input id="pv" type = "text" name="pv" placeholder="How much principal?"> <br/>
  </div>
  <button>Calculate monthly payment</button>
</form>
