<h1>Square Calculations</h1>

<form action="">
  <div>
    <label for="x">
      Enter a number
    </label>
    <input id="x" type = "text" name="x">
  </div>
  <button>Calculate square</button>
</form>
